; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

; This is the default for the codeline.
root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true

; Code files
[*.{cs}]
indent_size = 4
; Default to file-scoped namespaces for new C# files, but don't warn about exsting block scope. (Change to warning after all code is updated.)
csharp_style_namespace_declarations = file_scoped:none

; All XML-based file formats
[*.{config,csproj,nuspec,props,resx,ruleset,targets,vsct,vsixmanifest,xaml,xml,vsmanproj,swixproj,proj}]
indent_size = 2
