<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Do not any other public or internal feeds here. Add upstream sources to Cascade instead. -->
    <add key="Cascade" value="https://devdiv.pkgs.visualstudio.com/_packaging/Cascade/nuget/v3/index.json" />
  </packageSources>
</configuration>
