@vs:registry=https://devdiv.pkgs.visualstudio.com/_packaging/VS/npm/registry/
https://devdiv.pkgs.visualstudio.com/_packaging/NodeRepos/npm/registry/
@microsoft:registry=https://npm.pkg.github.com

always-auth=true