{
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "parser": "typescript",
    "jsxSingleQuote": true
}